<header class="container-fluid">
    <div class="container text-center" id="searchBox">
        <h1>weatherweatherlang</h1>
        <div class="form col-xs-12">   
            <form #myform="ngForm" (ngSubmit)="searchWeather(myform)">
                <input type="text" name="location" placeholder="search location" ngModel />
                <input type="submit" id="searchbtn" value="search" />
            </form>
        </div>
    </div>
</header>

<div id="mainBody" class="container text-center" *ngIf="weatherData">
    <ul id="results">
        <h2>Weather in {{ weatherData.location.name }}</h2>
    </ul>
</div>


  