<header class="container-fluid">
    <div class="container text-center" id="searchBox">
        <h1>weatherweatherlang</h1>
        <div class="form col-xs-12">   
            <form #myform="ngForm" (ngSubmit)="searchWeather(myform)">
                <input type="text" name="location" placeholder="search location" ngModel />
                <input type="submit" id="searchbtn" value="search" />
            </form>
        </div>
    </div>
</header>

<!-- <div id="mainBody" class="container text-center" *ngIf="weatherData">
    <ul id="results">
        <h2>Weather in {{ weatherData.location.name }}, {{ weatherData.location.country }}</h2>
        <h3>Current Temperature: {{ weatherData.current.temperature }}°C</h3>
        <p>{{ weatherData.current.weather_descriptions }}</p>
        <img [src]="weatherData.current.weather_icons" alt="">
    </ul>
</div> -->


  